FirstName : <b> {{this.uData.firstname | uppercase}}</b><br>
LastName : <b> {{this.uData.lastname | uppercase}}</b><br>
FirstName : <b> {{this.uData.firstname | lowercase}}</b><br>
LastName : <b> {{this.uData.lastname | lowercase}}</b><br>
FirstName : <b> {{this.uData.firstname | slice:2}}</b><br>
LastName : <b> {{this.uData.lastname | slice:3}}</b><br>
DateOfJoining : <b> {{this.uData.DateofJoin | date:'medium'}}</b><br>
DateOfJoining : <b> {{this.uData.DateofJoin | date:'day'}}</b><br>
Salary:<b>{{this.uData.salary | currency}}</b><br>
Salary:<b>{{this.uData.salary | currency:'INR'}}</b><br>
<router-outlet></router-outlet>
